<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <div class="flex-container">
        <div class="container">
            <h1>JOIN US</h1>
            <p class="lead">Enter your email to join <strong>
                    <%= users %>
                </strong> others on our waitlist. We are 100% not a cult. </p>
            <form method="POST" action='/'>
                <input type="text" class="form" placeholder="Enter Your Email" name="email">
                <input type="text" class="form" placeholder="How old you are?" name="age">
                <button>Join Now</button>
            </form>
        </div>
    </div>
</body>

</html>